.board-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.board {
  flex-grow: 1;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
  padding: 2px;
  margin: 6px;
  border: 2px solid;
  border-top-color: #7b7b7b;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #7b7b7b;
}

.smiley-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  padding: 2px;
  box-shadow: 0 0 0 2px #7b7b7b;
  cursor: pointer;
}

.smiley-container img {
  position: relative;
  width: 26px;
  height: 26px;
  pointer-events: none;
}

.timer,
.flag-counter {
  font-family: 'Digital Dismay';
  font-size: 35px;
  letter-spacing: 1px;
  color: red;
  background-color: black;
  text-align: center;
  padding: 4px 4px 0 7px;
  line-height: 1em;
}

.cell {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #c0c0c0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

@media screen and (max-width: 400px) {
  .cell {
    width: 22px;
    height: 22px;
  }
}

.cell.num-1 {
  color: #0000ff;
}
.cell.num-2 {
  color: #008000;
}
.cell.num-3 {
  color: #ff0000;
}
.cell.num-4 {
  color: #000080;
}
.cell.num-5 {
  color: #800000;
}
.cell.num-6 {
  color: #008080;
}
.cell.num-7 {
  color: #000000;
}
.cell.num-8 {
  color: #808080;
}

.cell.cheat,
.cell.showned {
  font-family: 'Press Start';
  background-color: #c0c0c0;
  font-size: 80%;
  text-align: center;
  border: none;
}

.cell img {
  pointer-events: none;
  height: 75%;
  width: 75%;
}

.cell img.flag {
  position: absolute;
  height: 90%;
  width: 90%;
}
