.custom-game-setting-container {
  display: flex;
  margin-top: 5px;
}

.btn-set-mines-manually,
.btn-set-seven-boom {
  padding: 0 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  transition: all 0.3s;
  text-align: center;
}

.btn-set-mines-manually.active {
  background-color: var(--mine-color);
  color: black;
}
