.btn-difficulty-container {
  display: flex;
}

.btn-difficulty-container button {
  padding: 0 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  .btn-difficulty-container {
    flex-direction: column;
  }
}
