.btn-difficulty-container {
  display: flex;
}

.btn-difficulty-container button {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #7b7b7b;
  background-color: #c0c0c0;
  border: 2px solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #7b7b7b;
  border-right-color: #7b7b7b;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-difficulty-container button:hover {
  background-color: #7b7b7b;
  color: #ffffff;
}
