.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #7b7b7b;
  color: white;
  text-align: center;
  padding: 10px 0;
  border: 3px solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  box-shadow: 0 0 0 2px #7b7b7b;
  font-family: 'Courier New', Courier, monospace;
}

.footer p {
  margin: 0;
}
