.game-stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
}

.lives-container > * {
  transition: all 0.3s ease-in-out;
}

.heart-img {
  height: 20px;
  width: 20px;
}

.best-score {
  font-size: 18px;
  color: #7b7b7b;
  text-shadow: 1px 1px 0px #ffffff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
