.game-actions {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 200px;
}

.btn-undo-action {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  transition: all 0.3s;
  text-align: center;
}

.hints-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  transition: all 0.3s;
}

.smiley-monocle {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

.hint:hover {
  background-color: var(--hint-color);
}

.btn-safe-click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .game-actions {
    flex-direction: row;
    justify-content: center;
    width: 450px;
  }

  .btn-undo-action {
    padding: 0 10px;
  }

  .hints-container {
    margin-top: 0;
  }
}
